/* Variables scss */

// Colors
$primary: #0d6efd;
$secondary: #303030;
$text: #333;
$white: #fff;
$lt-gray: rgba(255, 255, 255, 0.4);
$med-gray: rgba(255, 255, 255, 0.5);
$strong: rgba(255, 255, 255, 0.7);
$border: rgba(0, 0, 0, 0.2);
$bg-color: #202020;

// Fonts
$font-roboto: 'Roboto Condensed', sans-serif;
$font-weight: 300;