// Your styles go here

/* Main Styles */

// Nav
@use 'nav';

// Variables
@use 'variables';


/* Body Styles */
body {
  background: variables.$bg-color url('/images/footer-bg.jpg') repeat;
  min-width: 1200px;
  margin: 0;
  padding: 0;
}

body,
input,
textarea,
select {
  font-family: variables.$font-roboto;
  font-weight: variables.$font-weight;
  font-size: 11pt;
  line-height: 1.75em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: variables.$font-weight;

  & a {
    color: inherit;
    text-decoration: none;
  }
}

strong,
b {
  font-weight: bold;
  color: #000000;
}

em,
i {
  font-style: italic;
}

a {
  color: variables.$primary;
}

sub {
  position: relative;
  top: 0.5em;
  font-size: 0.8em;
}

sup {
  position: relative;
  top: -0.5em;
  font-size: 0.8em;
}

hr {
  border: 0;
  border-top: solid 1px #ddd;
}

p,
ul,
ol,
dl,
table {
  margin-bottom: 1em;
}

header {
  margin-bottom: 2em;
  line-height: 1.7em;

  & .byline {
    display: block;
    margin: 0.5em 0 0 0;
    padding: 0 0 0.5em 0;
    text-transform: uppercase;
    font-size: 1.4em;
  }

  & h2 {
    font-size: 2.5em;
  }
}

section,
article {
  margin-bottom: 3em;

  &:last-child {
    margin-bottom: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }
}

blockquote {
  margin: 0;
  padding: 0;
  border: none;
  font-style: normal;
}

footer {
  margin-top: 1em;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;

  &.small {
    width: 900px;
  }

  &.big {
    width: 100%;
    max-width: 1500px;
    min-width: 1200px;
  }

}

.row section,
.row article {
  margin-bottom: 0;
}

.row {
  margin-left: -50px;

  & section,
  article {
    margin-bottom: 0;
  }

  & [class*='column-'] {
    padding: 50px 0 0 50px;
    float: left;
    box-sizing: border-box;
  }

  &:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
  }
}


/* List 1-12 */
  // Mobile default width 100%
$columns: 1 2 3 4 5 6 7 8 9 10 11 12;

@each $col in $columns {
  .column-#{$col} {
    width: 100%;
  }
}


/* Media Queries */
  // Table / Desktop
@media all and (min-width: 576px) {
  @each $col in $columns {
    .column-#{$col} {
      width: calc(100% / 12 * #{$col});
    }
  }
}

.image {
  display: inline-block;

  & img {
    display: block;
    width: 100%;
  }

  &.featured {
    display: block;
    width: 100%;
    margin: 0 0 2em 0;
  }

  &.full {
    display: block;
    width: 100%;
    margin-bottom: 2em;
  }

  &.left {
    float: left;
    margin: 0 2em 2em 0;
  }

  &.centered {
    display: block;
    margin: 0 0 2em 0;

    img {
      margin: 0 auto;
      width: auto;
    }
  }
}

ul.default {
  margin: 0;
  padding: 0;
  list-style: none;

  & li {
    display: block;
    padding: 2em 0em 1.25em 0em;
    border-top: 1px solid variables.$secondary;

    :first-child {
      padding-top: 0em;
      border-top: none;
    }
  }

  & a {
    text-decoration: none;
    color: variables.$med-gray;

    & a:hover {
      text-decoration: underline;
    }
  }
}

ul.style1 {
  margin: 0;
  padding: 0;
  list-style: none;

  & li {
    padding: 0.60em 0em;
    border-top: 1px solid;
    border-color: rgba(0, 0, 0, .1);

    &:first-child {
      padding-top: 0;
      border-top: 0;
    }
  }
}

ul.style2 {
  margin: 0;
  padding: 0;
  list-style: none;

  & li {
    padding: 1.90em 0em 1.60em 0em;
    border-top: 1px solid;
    border-color: rgba(0, 0, 0, .1);

    &:first-child {
      padding-top: 0;
      border-top: 0;
    }
  }

  & img {
    float: left;
    padding-right: 1em;
  }
}

ul.style5 {
  overflow: hidden;
  margin: 0em 0em 1em 0em;
  padding: 0em;
  list-style: none;

  & li {
    float: left;
    padding: 0.25em 0.25em;
    line-height: 0;
  }
}

// Button Styles
.button {
  position: relative;
  display: inline-block;
  margin-top: 0.5em;
  padding: 0.50em 1.5em;
  background: variables.$primary;
  border-radius: 6px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.1em;
  color: variables.$white;
  transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
  cursor: pointer;

  &:hover {
    background: variables.$primary;
    color: variables.$white !important;
  }
}

.header {
  position: relative;
  background: variables.$white;

  & .container {
    position: relative;
    padding: 4em 0em;
  }
}

.logo {
  position: absolute;
  left: 0em;
  top: 3em;

  & a {
    display: block;
    text-decoration: none;
    font-size: 2.8em;
    font-weight: 600;
  }
}

.banner {
  position: relative;
  padding: 12em 0em;
  background: url('/images/banner.jpg') no-repeat center;
  background-size: cover;
  color: variables.$white;
}

.page {
  position: relative;
  background: variables.$white;
}

.main {
  border-top: 1px solid;
  border-color: variables.$border;
}

.sidebar header h2 {
  font-size: 1.6em;
}

.footer {
  position: relative;
  color: variables.$lt-gray;

  & h2 {
    padding-bottom: 1.5em;
    font-size: 1.6em;
    color: variables.$white;
  }

  & strong {
    color: variables.$strong;
  }
}

.copyright {
  position: relative;
  padding: 3em 0em;
  border-top: 1px solid variables.$secondary;
  letter-spacing: 1px;
  text-align: center;
  color: variables.$lt-gray;

  & a {
    text-decoration: none;
    color: variables.$lt-gray !important;
  }
}

.marketing {
  position: relative;

  & header h2 {
    font-size: 1.6em;
  }
}

.featured {
  position: relative;

  & .divider {
    border-bottom: 1px solid variables.$secondary;
  }

  & .box {
    background: variables.$white;
    padding: 1.4em;
    font-size: 0.95em;
    border-radius: 5px;
  }
}

.balloon {
  padding: 1.87em;
  background: url('/images/balloon-bg.jpg') repeat left top;
  border-radius: 5px;
  line-height: 180%;
  font-size: 1.2em;
  color: variables.$text;

  & strong {
    color: variables.$text !important;
  }
}

.ballon-bgbtm {
  height: 1.87em;
}